nav {
     position: fixed;
     bottom: 8vh;
     bottom: 8dvh;
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
     height: -webkit-fit-content;
     height: -moz-fit-content;
     height: fit-content;
     left: 50%;
     transform: translateX(-50%);
     padding: 1rem;
     border-radius: var(--largest-radius);
     z-index: 100;
     background-color: var(--bg-elems);
}

nav ul {
     display: flex;
     align-items: center;
     gap: 0.5rem;
}

nav ul a {
     position: relative;
     white-space: nowrap;
     text-transform: capitalize;
     padding: 0.75rem;
     font-weight: 900;
     font-size: var(--small-fsz);
     border-radius: var(--small-radius);
     transition: all 0.3s ease-out;
     box-shadow: 1px 1px 0px #eee,
          -1px -1px 0px #ffffff;
}

nav ul a::before {
     background-color: var(--heading-color);
     width: 0.3rem;
     left: 0;
     height: 1.3rem;
     border-radius: var(--largest-radius);
     transition: all 0.3s ease-out;
     opacity: 0;
}

nav ul a:hover::before,
nav ul a:active::before {
     opacity: 1;
}

nav ul a:hover,
nav ul a:active {
     box-shadow: inset 1px 1px 3px #bcbcbc,
          inset -1px -1px 3px #ffffff;
}